In [0]:
from pyspark.sql import SparkSession

In [0]:
spark = SparkSession.builder.appName("Intro").getOrCreate()

In [0]:
df = spark.sql("SELECT * FROM mydata_1_csv")

In [0]:
df.show()

+-----+-----+
| name|sales|
+-----+-----+
| John|  100|
|Cindy|   86|
| Carl|  230|
+-----+-----+

In [0]:
df.printSchema()

root
 |-- name: string (nullable = true)
 |-- sales: integer (nullable = true)

In [0]:
df.columns

Out[15]: ['name', 'sales']

In [0]:
df.describe().show()

+-------+----+------------------+
|summary|name|             sales|
+-------+----+------------------+
|  count|   3|                 3|
|   mean|null|138.66666666666666|
| stddev|null| 79.40612906654835|
|    min|Carl|                86|
|    max|John|               230|
+-------+----+------------------+

In [0]:
# To specifiy data types
# from pyspark.sql.types import StructField, StringType, IntegerType, StructType

# data_schema = [
#     StructField("name", StringType(), True),
#     StructField("sales", IntegerType(), True)
# ]

# final_struct = StructType(fields=data_schema)

# df = spark.read.json("people.json", schema=final_struct)

In [0]:
type(df["name"])

Out[26]: pyspark.sql.column.Column

In [0]:
df.select("name").show()

+-----+
| name|
+-----+
| John|
|Cindy|
| Carl|
+-----+

In [0]:
df.head(2)

Out[29]: [Row(name='John', sales=100), Row(name='Cindy', sales=86)]

In [0]:
df.withColumn("age", df["sales"]).show()

+-----+-----+---+
| name|sales|age|
+-----+-----+---+
| John|  100|100|
|Cindy|   86| 86|
| Carl|  230|230|
+-----+-----+---+

In [0]:
df.withColumnRenamed("sales", "new_sales").show()

+-----+---------+
| name|new_sales|
+-----+---------+
| John|      100|
|Cindy|       86|
| Carl|      230|
+-----+---------+

In [0]:
df.createOrReplaceTempView("sales")

In [0]:
results = spark.sql("SELECT * FROM sales")
results.show()

+-----+-----+
| name|sales|
+-----+-----+
| John|  100|
|Cindy|   86|
| Carl|  230|
+-----+-----+

In [0]:
new_results = spark.sql("SELECT * FROM sales WHERE sales=230")
new_results.show()

+----+-----+
|name|sales|
+----+-----+
|Carl|  230|
+----+-----+